@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: linear-gradient(125deg, #F3A2A8 0%, #C1121F 22%, #2A1616 87%);
  font-family: var(--font-jost);
}
